
<div>
    <h2><span data-translate="rhinobuyApp.picture.detail.title">Picture</span> {{vm.picture.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="rhinobuyApp.picture.path">Path</span></dt>
        <dd>
            <span>{{vm.picture.path}}</span>
        </dd>
        <dt><span data-translate="rhinobuyApp.picture.image">Image</span></dt>
        <dd>
            <div ng-if="vm.picture.image">
                <a ng-click="vm.openFile(vm.picture.imageContentType, vm.picture.image)">
                    <img data-ng-src="{{'data:' + vm.picture.imageContentType + ';base64,' + vm.picture.image}}" style="max-width: 100%;"/>
                </a>
                {{vm.picture.imageContentType}}, {{vm.byteSize(vm.picture.image)}}
            </div>
        </dd>
        <dt><span data-translate="rhinobuyApp.picture.product">Product</span></dt>
        <dd>
            <a ui-sref="product-detail({id:vm.picture.product.id})">{{vm.picture.product.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="picture-detail.edit({id:vm.picture.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
