
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInvoiceLabel" data-translate="rhinobuyApp.invoice.home.createOrEditLabel">Create or edit a Invoice</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.invoice.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.invoice.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rhinobuyApp.invoice.number" for="field_number">Number</label>
            <input type="text" class="form-control" name="number" id="field_number"
                    ng-model="vm.invoice.number"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rhinobuyApp.invoice.invoiceDate" for="field_invoiceDate">Invoice Date</label>
                <div class="input-group">
                    <input id="field_invoiceDate" type="text" class="form-control" name="invoiceDate" datetime-picker="{{dateformat}}" ng-model="vm.invoice.invoiceDate" is-open="vm.datePickerOpenStatus.invoiceDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('invoiceDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rhinobuyApp.invoice.invoiceDetails" for="field_invoiceDetails">Invoice Details</label>
            <input type="text" class="form-control" name="invoiceDetails" id="field_invoiceDetails"
                    ng-model="vm.invoice.invoiceDetails"
                     />
        </div>

        <div class="form-group">
            <label data-translate="rhinobuyApp.invoice.shipment" for="field_shipment">Shipment</label>
            <select class="form-control" id="field_shipment" name="shipment" ng-model="vm.invoice.shipment" ng-options="shipment as shipment.id for shipment in vm.shipments track by shipment.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="rhinobuyApp.invoice.status" for="field_status">Status</label>
            <select class="form-control" id="field_status" name="status" ng-model="vm.invoice.status" ng-options="referenceInvoiceStatus as referenceInvoiceStatus.id for referenceInvoiceStatus in vm.referenceinvoicestatuses track by referenceInvoiceStatus.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="rhinobuyApp.invoice.order" for="field_order">Order</label>
            <select class="form-control" id="field_order" name="order" ng-model="vm.invoice.order" ng-options="orders as orders.id for orders in vm.orders track by orders.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
